img.attraction-img{
    width: 100%;
    height: 300px;

    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    object-fit: cover;
}
table{
    font-family: Arial, serif;
    margin: 0 auto;
}
th{
    padding: 0 5px;
}
.opening:hover {
    transform: none;
}
h6{
    color: #888888;
}
p.description{
    margin-bottom: 50px;
}
.fixed-bottom{
    margin-left: 15px;
}

#map{
    height: 400px;
}


.radio{
    width:30px;
    height:30px;
    margin: 5px;
}

.evaluation{
    font-size: 30px;
}
.form-control{
    min-height: 120px;
    font-family: "Arial", "Corbel", "Normal", serif;
    font-size: 20px;
    font-weight: bold;
}
.btn-my-primary{
    margin-top: 10px;
    font-size: 20px;
}
.username{
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial", "Corbel", "Normal", serif;
}
.delete{
    font-size: 15px;
}
.btn-my-danger{
    font-size: 10px;
}
.comment{
    margin-top: 20px;
}
.date{
    font-family: "Arial", "Corbel", "Normal", serif;
    font-size: 15px;
}
#country-name{
    display: none;
}

#open-now{
    text-align: center;

}
.btn-danger{
    font-family: "Arial", "Corbel", "Normal", serif;
}




.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
    margin-left: 0;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}


.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

.resp-sharing-button__icon--solid{
    fill: #fff;
    stroke: none
}


.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}


.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.add-attraction-btn{
    width: 150px;
}

.btn-red-color{
    background-color: red;
    color: white;
    font-weight: bold;
}
.admin-functions-div{
    padding-bottom: 10px;
}

.my-modal{
    font-family: "Arial", "Corbel", "Normal", serif;
}
.radio-button{
    margin-left: 1px;
    margin-right: 1px;
}
.erteleles{

}
.rat-n{
    margin-right: 11px;
    margin-left: 12px;
}
#rating-avg{
    text-align: center;
    font-size: 20px;
}
#ratings{

}