<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="fregments/head :: head"></div>
<body>

<link th:href="@{/css/scroll.css}" rel="stylesheet" href="../style/scroll.css" type="text/css">
<link th:href="@{/css/locale.css}" rel="stylesheet" href="../style/locale.css" type="text/css">
<script th:src="@{/script/scroll.js}" src="../script/scroll.js"></script>

<div th:replace="fregments/header :: header"></div>
<main>
    <section>
        <div class="container-lg search">
            <div class="row margin_top">
                <div class="col-md-5 locale_img_div">
                    <img class="locale_img" th:src="@{/photos/{countryId}/{cityId}/city.jpg (countryId=${city.country.id}, cityId=${city.id})}"  src="../images/countries/Egyesült%20Királyság/1/city.jpg" />
                </div>
                <div class="col-md-7 locale_info">
                    <h1 th:text="${city.name}">London</h1>
                    <p th:text="${city.description}">
                        London az Egyesült Királyság és azon belül Anglia fővárosa,
                        a legnagyobb városi terület az Egyesült Királyságban; Európában Isztambul és Moszkva után a
                        legnépesebb város. A Londoni-medencében, a Temze folyó két partján terül el.
                        A története egészen az alapító rómaiakig nyúlik vissza, akik a várost Londiniumnak nevezték.
                        A középkor emlékeit a város központjában található City of London őrzi, a mai London e köré épült ki.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="container-lg">
            <h1 class="margin_top">TOP látnivalók</h1>
            <a th:href="@{/list/attractions/city/{cityId}/0 (cityId=${city.id})}" href="all.html"><h5 >Összes-></h5></a>
            <div class="row">
                <div class="container-lg relative">
                    <div class="top_attractions attractions arrow_div arrowLeft arrowLeft_scrollfield_top_attractions">
                        <img class="arrow" th:src="@{/images/scrollLeft.png}" src="../images/scrollLeft.png"/>
                    </div>
                    <div class="top_attractions arrow_div arrowRight arrowRight_scrollfield_top_attractions">
                        <img class="arrow" th:src="@{/images/scrollRight.png}" src="../images/scrollRight.png"/>
                    </div>
                </div>
                <div class="scrollfield_top_attractions scrollfield">

                    <a th:each="attraction : ${city.bestAttractions}" th:href="@{/attraction/{attractionId} (attractionId=${attraction.id})}" href="#">
                        <div class="card">
                            <img class="card-img-top" th:src="@{/photos/{countryId}/{cityId}/{attractionId}/0.jpg (countryId=${attraction.city.country.id}, cityId=${attraction.city.id}, attractionId=${attraction.id})}" src="../images/countries/Egyesült%20Királyság/1/1/1.jpg" />
                            <div class="card-block">
                                <h4 th:text="${attraction.name}" class="card-title">British Museum</h4>
                                <p th:text="${#strings.capitalize(#strings.toLowerCase(attraction.type.name))}" class="card-text">Múzeum</p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>


        <div th:if="${ city.suggestAttractions != null }" class="container-lg">
            <h1 class="margin_top">Javasolt látnivalók</h1>
            <a th:href="@{/list/attractions/citysuggestion/{cityId}/0 (cityId=${city.id})}" href="all.html"><h5 >Összes-></h5></a>
            <div class="row">
                <div class="container-lg relative">
                    <div class="suggest_attractions arrow_div arrowLeft arrowLeft_scrollfield_suggest_attractions">
                        <img class="arrow" th:src="@{/images/scrollLeft.png}" src="../images/scrollLeft.png"/>
                    </div>
                    <div class="suggest_attractions arrow_div arrowRight arrowRight_scrollfield_suggest_attractions">
                        <img class="arrow" th:src="@{/images/scrollRight.png}" src="../images/scrollRight.png"/>
                    </div>
                </div>
                <div class="scrollfield_suggest_attractions scrollfield">

                    <a th:each="attraction : ${city.suggestAttractions}" th:href="@{/attraction/{attractionId} (attractionId=${attraction.id})}" href="#">
                        <div class="card">
                            <img class="card-img-top" th:src="@{/photos/{countryId}/{cityId}/{attractionId}/0.jpg (countryId=${attraction.city.country.id}, cityId=${attraction.city.id}, attractionId=${attraction.id})}" src="../images/countries/Egyesült%20Királyság/1/1/1.jpg" />
                            <div class="card-block">
                                <h4 th:text="${attraction.name}" class="card-title">British Museum</h4>
                                <p th:text="${#strings.capitalize(#strings.toLowerCase(attraction.type.name))}" class="card-text">Múzeum</p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </section>

</main>

</body>
</html>
